#accedezA {
  color: #666d92;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
}

#tutoReact {
  color: var(--button-color);
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 600;
}
