:root {
  --button-color: #000ff0;
  --button-hover-color: #0c0cda;
  --button-delete-color: #d82a2a;
  --button-delete-hover-color: #ec4242;
  --label-primary-color: #00008c;
  --table-content-color: #666d92;
}

html {
  background-color: #f8f8fb;
}
